{{define "head"}}
<title>Tempus</title>
{{end}}
{{define "body"}}
<h1>Tempus</h1>
<div>
    <p>This is your dashboard {{ .SessionMeta.LoggedInUser.Name }}.</p>
    <div>
        <h3>Projects</h3>
        {{ if .Data.Projects }}
        <ul>
            {{ range .Data.Projects }}
            <li>
                <a href="/projects/{{ .ID }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
        {{ else }}
        <p>No projects yet!</p>
        {{ end }}
    </div>
    <div>
        {{ if .Data.ProjectsWithOngoingEntry }}
        <h3>Your projects with an ongoing entry</h3>
        <ul>
            {{ range .Data.ProjectsWithOngoingEntry }}
            <li>
                <a href="/projects/{{ .Project.ID }}">{{ .Project.Title }}: {{ .OngoingEntry.EntryType }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    <div>
        <h5>Create new Project</h5>
        <form action="/projects/new" method="POST">
            <div class="form-group">
                <input type="text" id="title" name="title" placeholder="Input your project's unique title here">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <a href="/">Back to homepage</a>
</div>
{{end}}