{{define "head"}}
<title>Tempus</title>
{{end}}

{{define "body"}}
{{ $ongoingEntry := .Data.OngoingEntry }}
{{ $project := .Data.Project }}

<h1>Tempus</h1>
<h2>{{ $project.Title }}</h2>
<div>
    <h3>Entry Switch</h3>
    <p>Switch from entry (ID {{ $ongoingEntry.ID }}) {{ $ongoingEntry.EntryType }} to new entry
        {{ .Data.TargetEntryType }}?</p>
    <div style="display:flex;flex-direction: row;justify-content: space-around;">
        <form action="/projects/{{ $project.ID }}/entry/switch" method="POST">
            <input type="submit" name="TargetEntryType" value="{{ .Data.TargetEntryType }}" />
        </form>
        <a href="/projects/{{ $project.ID }}">Do not switch, go back to project</a>
    </div>

    <a href="/">Back to homepage</a>
</div>
{{end}}